asgiref==3.3.1
Django==3.1.7
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-password-reset==2.0
django-taggit==1.3.0
Markdown==3.3.4
Pillow @ file:///D:/Pillow-8.1.1-cp38-cp38-win32.whl
Pygments==2.8.0
pytz==2021.1
sqlparse==0.4.1
